<div class="row">
  <div class="col-md-12">
    <div class="input-group">
      <select class="custom-select" (change)="getChart($event.target.value)">
        <option *ngFor="let chart of _chartService.charts" [value]="chart.id">{{ chart.name }}</option>
      </select>
    </div>
    <hr>
    <div *ngIf="chart">
      <h4>{{ chart.name }}</h4>
      <br>
      <div class="table-responsive text-center">
        <table class="columns">
          <tr>
            <td><google-chart #cchart [data]="columnChartData"></google-chart></td>
            <td><google-chart [data]="pieChartData"></google-chart></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
